@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg,#9ff1ff,#eec0c6);
    height: 205vh;
    overflow: auto;
}
.center {
    position: absolute;
    top: 102.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}
.center form {
    padding: 0 40px;
    box-sizing: border-box;
}
/*----------------------------------------------------------------------------------------------------------*/
form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
.txt_field input:focus ~ label, .txt_field input:valid ~ label {
    top: -5px;
    color: #2691d9;
}
.txt_field input:focus ~ span::before, .txt_field input:valid ~ span::before {
    width: 100%;
}
/*----------------------------------------------------------------------------------------------------------*/
form .adress_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.adress_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.adress_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.adress_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
::-webkit-input-placeholder {
    color:#fff;
}
.adress_field input:valid:not(:placeholder-shown) ~ label, .adress_field input:focus ~ label {
    top: -5px;
    color: #2691d9;
}
.adress_field input:valid:not(:placeholder-shown) ~ span::before, .adress_field input:focus ~ span::before {
    width: 100%;
}
/*----------------------------------------------------------------------------------------------------------*/
form .date_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.date_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.date_field label {
    position: absolute;
    top: -15%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.date_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
.date_field input:focus ~ label, .date_field input:valid ~ label {
    color: #2691d9;
}
.date_field input:focus ~ span::before, .date_field input:valid ~ span::before {
    width: 100%;
}
.pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.pass:hover {
    text-decoration: underline;
}
.texte {
    opacity: 0;
}
input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover {
    background: #3364FF; 
    border-color: #3364FF; 
}
.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup_link a {
    color: #2691d9;
    text-decoration: none;
}
.signup_link a:hover {
    text-decoration: underline;
}